@import url(/assets/code/base-kit/content.css);
:root {
    --accent-color: #FF2020 !important;
}

#top-h1 {
    content: "My Time at AERO" !important;
} #top-p {
    content: "Here I will tell you about my time at AERO." !important;
}

#top-section {
    background-image: url(/assets/images/placeholder/pawel-czerwinski-ve-UaSZQtqk-unsplash.jpg) !important;
}