
/*
 *
 * contact me form
 *
 */
 .contact_me__follower{
    position: fixed;
    top: 0em;
    z-index: 1000;

}.contact_me__follower_all_the_stuff{
    background-color: #000000ba;
    height: 110vh;
    width: 100vw;
    padding-top: calc((100vh - 405px)/2);
}

/*
 * This is the contact form that lets people get into touch with me
 */
.contact_me__form_box{
    border-radius: var(--bor_rad);
    background-color: var(--back_ground-color);
    min-width: 300px;
    min-height: 405px;

    width: 300px;
    height: 405px;
    position: relative;
    margin: auto;

    padding-top: 1em;

    .contact_me__close_button{
        position: absolute;
        top: -1em;
        right: 1em;
        height: 1.5em;
        width: 1.5em;
        border: solid var(--accent-color) 0.1em;
        border-radius: 50%;

        .move_up{
            position: absolute;
            top: -0em;
            text-align: center;
            right: 0;
            left: -0.1em;
        }

    }.contact_me__close_button:hover{
        color: var(--accent-color);
        background-color: var(--back_ground-color);
    }

    .contact_me__form{

        label{
            display: block;
            text-align: center;
            margin-top: 2em;
            font-weight: bold;
        
        }

        /*
         * email box
         */
        .contact_me__form__email_input{
            width: 80%;

            margin-left: 5%;
            margin-right: 5%;
            margin-top: 1em;
            padding: 1em;
            
            border: solid;
            border-width: 0.1em;
            border-color: var(--back_ground-color2);
            border-radius: var(--bor_rad);
        
            background-color: var(--back_ground-color2);
            box-shadow: none;
            text-align: center;

        }/*.contact_me__form__email_input:hover{
            border-color: var(--accent-color);
        
        }*/.contact_me__form__email_input:focus{
            outline: none;
            border-color: var(--accent-color);
            box-shadow: 0 0 2em -1em black;
        
        }/*.contact_me__form__email_input:invalid{
            border-color: red;
            color: red;
            background-color: ivory;
        }*/
        
        /*
         * message box
         */ 
        .contact_me__form__message_input{
            width: 75%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 1em;
            resize: none;
            padding: 1.5em;
            background-color: var(--back_ground-color2);
            height: 110px;
        
            border: solid;
            border-width: 0.1em;
            border-color: var(--back_ground-color2);
            border-radius: var(--bor_rad);
            
            box-shadow: none;
        }/*.contact_me__form__message_input:hover{
            border-color: var(--accent-color);
        
        }*/.contact_me__form__message_input:focus{
            outline: none;
            border-color: var(--accent-color);
            box-shadow: 0 0 2em -1em black;
        
        }/*.contact_me__form__message_input:invalid{
            border-color: red;
            color: red;
            background-color: ivory;
        }*/
    
        .submit__button_container{
            position: absolute;
            bottom: 2em;
            left: 0;
            right: 0;
    
            text-align: center;
    
            .contact_me__form__submit_button{
                background-color: var(--accent-color);
                border: solid 0.1em var(--accent-color);
                color: var(--back_ground-color);
                border-radius: var(--bor_rad);
                
                height: 2.8em;
                width: 15em;
    
                margin-left: auto;
                margin-right: auto;
    
            }.contact_me__form__submit_button:focus{
                outline: none;
            
            }#form_submit{
                font-weight: bold;
                text-transform: uppercase ;
            
            }#form_submit:focus{
                outline: none;
                background-color: var(--back_ground-color);
                box-shadow: 0 0 2em -1em black;
                color: var(--accent-color);
            }
        }
    }
}