@import url(/assets/code/base-kit/content.css);
#social-media-links-phone-app-whatsapp {
  display: none;
}

body {
  background-color: var(--light-mode-main-background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-main-background-color);
  }
}
main {
  max-width: none !important;
}

div#social-media-links-phone-body {
  background-image: url("/assets/images/wavey/(gray)/iPhone-variant.png");
  border: solid;
  border-color: black !important;
  border-radius: 50px;
  border-width: 5px;
  min-width: 480px;
  width: 480px;
  max-width: 480px;
  padding: 0;
  margin-top: max(var(--default-top-margin), 5vh);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: max(var(--default-top-margin), 5vh);
  aspect-ratio: 18/39;
  position: relative;
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
}
div#social-media-links-phone-body * {
  aspect-ratio: auto;
}

@media (prefers-color-scheme: dark) {
  div#social-media-links-phone-body {
    border-color: var(--dark-mode-border-color);
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
    background-image: url("/assets/images/wavey/(black)/iPhone-variant.png");
  }
}
@media only screen and (max-width: 480px) {
  section#social-media-links-section {
    margin-top: 0 !important;
  }
  div#social-media-links-text-container {
    display: none !important;
  }
  div#social-media-links-phone-body {
    border: none !important;
    border-radius: 0 !important;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin-top: 0 !important;
    box-shadow: none !important;
  }
  div#social-media-links-phone-top {
    display: none !important;
  }
  div#social-media-links-phone-apps {
    padding: 20px !important;
  }
  div#social-media-links-phone-bottom {
    display: none !important;
  }
}
div#social-media-links-phone-top {
  border-radius: 50px;
  height: 5em;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px;
}

div#social-media-links-phone-top-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
div#social-media-links-phone-top-icons * img {
  height: 25px;
  width: auto;
  display: inline-block;
}
div#social-media-links-phone-top-icons div#social-media-links-phone-top-icons-wifi-container img {
  height: 20px;
  width: auto;
  display: inline-block;
}
div#social-media-links-phone-top-icons div#social-media-links-phone-top-icons-signal-container img {
  height: 20px;
  display: inline-block;
  border-radius: 0;
  padding-right: 4px;
}
div#social-media-links-phone-top-icons #space {
  width: 10px;
}

div#social-media-links-phone-top-camera-shape {
  background-color: black;
  border-radius: 1.1em;
  width: 10em;
  height: 2.2em;
  margin: 0 auto;
}

time#social-media-links-phone-top-time-p {
  font-size: 1.3em;
  color: black;
  width: 100%;
  padding: 0;
  padding-left: 50px;
  margin: 0;
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  time#social-media-links-phone-top-time-p {
    color: white;
  }
}
div#social-media-links-phone-apps {
  width: auto;
  padding: 25px;
  padding-top: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  overflow: hidden;
}

div#social-media-links-phone-apps > div.social-media-links-phone-app {
  width: auto;
  padding: 0;
  margin: 0;
}

div#social-media-links-phone-apps > div.social-media-links-phone-app > .social-media-links-phone-app-link {
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#social-media-links-phone-apps > div.social-media-links-phone-app > a.social-media-links-phone-app-link > img.social-media-links-phone-app-img {
  width: 100%;
  max-width: auto;
  padding: 0;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

div#social-media-links-phone-apps > div.social-media-links-phone-app > .social-media-links-phone-app-p {
  color: black;
  margin: 0 auto;
  margin-top: 0.75em;
}

@media (prefers-color-scheme: dark) {
  div#social-media-links-phone-apps > div.social-media-links-phone-app > .social-media-links-phone-app-p {
    color: white;
  }
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#snapchat-app {
  background-color: #CCC000;
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#snapchat-app img {
  width: 70% !important;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#instagram-app {
  position: relative;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#instagram-app img {
  position: absolute;
  width: 113% !important;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#linkedin-app {
  background-color: white;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#email-app {
  background-color: lightskyblue;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#email-app img {
  width: 60% !important;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#github-app {
  background-color: black;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#behance-app {
  background-color: white;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#portfolio-app {
  background-color: var(--accent-color);
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#portfolio-app #portfolio-app-icon {
  width: 100% !important;
  max-width: none;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#facebook-app {
  background-color: white;
}
div#social-media-links-phone-apps > div.social-media-links-phone-app a#discord-app {
  background-color: #5865F2;
}

div#social-media-links-phone-bottom {
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

a#social-media-links-phone-bottom-bar {
  background-color: black;
  border-radius: 3.5px;
  width: 50%;
  height: 7px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  a#social-media-links-phone-bottom-bar {
    background-color: white;
  }
}/*# sourceMappingURL=style.css.map */