:root{
    --accent-color: #A155B5 /* old: #0AB7E0, and before: #FF0F06 */;
    /*
     * You can also change the color of svgs by editing them with vs code
     * this why you can change the accent color of any of the svgs
     * an example would be the skills svg's
     */
    --sec-accent-color: #A155B5 /* old: #0AB7E0, and before: #FF0F06 */;
    --back_ground-top_dark: url(../Assets/Images/placeholder/landing_page_top_placeholder_dark.svg);
    --back_ground-top: url(../Assets/Images/placeholder/landing_page_top_placeholder.svg);
    --back_ground-bottom_dark: url(../Assets/Images/placeholder/landing_page_bottom_placeholder_dark.svg);
    --back_ground-bottom: url(../Assets/Images/placeholder/landing_page_bottom_placeholder.svg);

    /* Light mode */
    --back_ground-color: #f8f9fC;
    --back_ground-color2: #eaeaea;
    --back_ground-color3: #808080;

    /* Dark mode */
    --back_ground-color_dark: #14181B;
    --back_ground-color2_dark: #343C3F;
    --back_ground-color3_dark: #343C3F;

    --bor_rad: 10px;

}

/*
 *
 * Generic stuff
 *
 */
.box{
    background-color: white;
    box-shadow: 0 0 2em -0.5em black;
    border-radius: var(--bor_rad);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    min-width: 300px;
}*{
    padding: 0;
    margin: 0;
    font-family: monospace;

    /* if one of these has a transition it must be there */
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2 ease-in-out;
    transition: box-shadow 0.5 ease-in-out;

}li{

    list-style-type: none;
    color: var(--back_ground-color3);
    font-family: 'Source Serif Pro', monospace;
}body{
    background-color: var(--back_ground-color);
    overflow-x: hidden; /* Hide horizontal scrollbar */
}p{
    color: var(--back_ground-color3);
    text-align: center;
    font-family: 'Source Serif Pro', monospace;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 60%;
    max-width: 45em;
}a{
    color: var(--back_ground-color3);
    text-align: center;
    font-family: 'Source Serif Pro', monospace;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 60%;
    max-width: 60em;
}h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 80%;
}h2{
    text-align: center;
    margin-top: 4em;
    font-size: 2.5em;
    font-family: 'Source Serif Pro', monospace;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 60%;

}h3{
    text-align: center;
    margin-top: 5em;
    font-size: 1.4em;
    font-family: 'Source Serif Pro', monospace;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 60%;

}.Button_container{
    /* centering */
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    background-color: transparent;
    
}button{
    margin-top: 2em;
    border-radius: var(--bor_rad);
    height: 2.7em;
    width: 14.7em;
    border-width: 0.15em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--back_ground-color);

}/*button:hover{
    color: var(--accent-color);
    background-color: var(--back_ground-color);
    border-color: var(--accent-color);
    box-shadow: 0 0 1em -0.5em black;
}*/.line_deco{
    background-color: var(--accent-color);
    height: 0.2em;
    width: 3em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}.shadow_button{
    box-shadow: 0 0 1em -0.5em var(--back_ground-color3_dark);

    background-color: var(--back_ground-color);
    border-color: var(--back_ground-color3);
    color: var(--back_ground-color_dark);
}/*.shadow_button:hover{
    background-color: var(--back_ground-color);
    border-color: var(--back_ground-color3);
    color: var(--accent-color);
}*/



/*
 *
 * css code that is needed for JavaScript
 *
 */
/* locks the scrollbar*/
.body__scrolbar{ /* in case I don't want scrolling when the conrtact me form is open*/
    overflow: hidden;
}

body{ /* hides the scroll bar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.show_and_hide{
    display: none;
}



/*
 *
 * title section
 *
 */
h1{
    color: var(--back_ground-color);
}.sub_h1{
    margin-top: 1em;
    margin-bottom: 3em;
    color: var(--back_ground-color);
    font-family: 'Source Serif Pro', monospace;
}
.picture_title_and_more__background{
    background-image: var(--back_ground-top);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    min-height: 600px;
    height: calc(100vh - (100vh - 405px) / 2);
    padding-top: calc( (100vh - 405px) / 2);
}



/*
 *
 * intressed in working with me section
 *
 */
.Interessed{
    background-image: var(--back_ground-bottom);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    min-height: 850px;
    height: calc(120vh - (100vh - 300px) / 2);
    
    position: relative;

    /*
     * This provides a sort of padding but it gives me finer control over it
     */
    .Interessed__space{
        min-height: 400px;
        height: calc( (100vh - 300px) / 2);
    }

    .overflow_up{
        position: absolute;
        left: 0em;
        right: 0em;
        top: -0.5em;

        height: 1em;
        background-color: var(--back_ground-color);
    }

    .Interessed__box{
        min-height: 350px;
    
        .Interessed__h2{
            margin-top: 0%;
            color: var(--back_ground-color);
            font-family: 'Old Standard TT', serif;
            font-size: 1.9em
        
        }.Interessed__p{
            color: var(--back_ground-color);
            margin-top: 1em;
        }

        .Interessed__Button_container{
            margin: 2em;
        }
        /*
         * This is for the links to social media platforms
         */
        .list_of_socials{
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5em;
            text-align: center;
        
            .Interessed___li_icon{
                display: inline-block;
                align-self: center;
                margin: 1em;
        
                box-shadow: 0 0 1em -0.5em black;
                background-color: var(--back_ground-color);
        
                height: 2.8em;
                width: 2.8em;
                border-radius: 50%;
                border: solid black 0.1em;
        
                position: relative;
        
                .Interessed__icon_a{        
                    position: absolute;
                    top: 0.1em;
                    right: 0.1em;
                    left: 0.1em;
                    bottom: 0.1em;
        
                    width: 100%;
                    height: 100%;
                    margin: 0;
        
                    border-width: 0em;
                    
                    .Interessed__icon_lightmode{
                        position: absolute;
                        
                        top:    0.7em;
                        right:  0.7em;
                        left:   0.7em;
                        bottom: 0.7em;
        
                        height: 50%;
                        width: 50%;
        
                        border-width: 0em;
                    }
                    .Interessed__icon_darkmode{
                        position: absolute;

                        top:    0.7em;
                        right:  0.7em;
                        left:   0.7em;
                        bottom: 0.7em;
        
                        height: 50%;
                        width: 50%;
        
                        border-width: 0em;

                        display: none;
                    }
                }
            }/*.Interessed___li_icon:hover{
                background-color: var(--accent-color);
            }*/
        }
    }

/*
 * Don't display these options because they are not in use
 */
}.email{
    display: none !important;
}.whatsapp{
    display: none !important;
}.snapchat{
    display: none !important;
}.behance{
    display: none !important;
}

/*
 *
 * contact me form
 *
 */
.contact_me__follower{
    position: fixed;
    top: 0em;
    z-index: 1000;

}.contact_me__follower_all_the_stuff{
    background-color: #000000ba;
    height: 110vh;
    width: 100vw;
    padding-top: calc((100vh - 405px)/2);
}

/*
 * This is the contact form that lets people get into touch with me
 */
.contact_me__form_box{
    border-radius: var(--bor_rad);
    background-color: var(--back_ground-color);
    min-width: 300px;
    min-height: 405px;

    width: 300px;
    height: 405px;
    position: relative;
    margin: auto;

    padding-top: 1em;

    .contact_me__close_button{
        position: absolute;
        top: -1em;
        right: 1em;
        height: 1.5em;
        width: 1.5em;
        border: solid var(--accent-color) 0.1em;
        border-radius: 50%;

        .move_up{
            position: absolute;
            top: -0em;
            text-align: center;
            right: 0;
            left: -0.1em;
        }

    }.contact_me__close_button:hover{
        color: var(--accent-color);
        background-color: var(--back_ground-color);
    }

    .contact_me__form{

        label{
            display: block;
            text-align: center;
            margin-top: 2em;
            font-weight: bold;
        
        }

        /*
         * email box
         */
        .contact_me__form__email_input{
            width: 80%;

            margin-left: 5%;
            margin-right: 5%;
            margin-top: 1em;
            padding: 1em;
            
            border: solid;
            border-width: 0.1em;
            border-color: var(--back_ground-color2);
            border-radius: var(--bor_rad);
        
            background-color: var(--back_ground-color2);
            box-shadow: none;
            text-align: center;

        }/*.contact_me__form__email_input:hover{
            border-color: var(--accent-color);
        
        }*/.contact_me__form__email_input:focus{
            outline: none;
            border-color: var(--accent-color);
            box-shadow: 0 0 2em -1em black;
        
        }/*.contact_me__form__email_input:invalid{
            border-color: red;
            color: red;
            background-color: ivory;
        }*/
        
        /*
         * message box
         */ 
        .contact_me__form__message_input{
            width: 75%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 1em;
            resize: none;
            padding: 1.5em;
            background-color: var(--back_ground-color2);
            height: 110px;
        
            border: solid;
            border-width: 0.1em;
            border-color: var(--back_ground-color2);
            border-radius: var(--bor_rad);
            
            box-shadow: none;
        }/*.contact_me__form__message_input:hover{
            border-color: var(--accent-color);
        
        }*/.contact_me__form__message_input:focus{
            outline: none;
            border-color: var(--accent-color);
            box-shadow: 0 0 2em -1em black;
        
        }/*.contact_me__form__message_input:invalid{
            border-color: red;
            color: red;
            background-color: ivory;
        }*/
    
        .submit__button_container{
            position: absolute;
            bottom: 2em;
            left: 0;
            right: 0;
    
            text-align: center;
    
            .contact_me__form__submit_button{
                background-color: var(--accent-color);
                border: solid 0.1em var(--accent-color);
                color: var(--back_ground-color);
                border-radius: var(--bor_rad);
                
                height: 2.8em;
                width: 15em;
    
                margin-left: auto;
                margin-right: auto;
    
            }.contact_me__form__submit_button:focus{
                outline: none;
            
            }#form_submit{
                font-weight: bold;
                text-transform: uppercase ;
            
            }#form_submit:focus{
                outline: none;
                background-color: var(--back_ground-color);
                box-shadow: 0 0 2em -1em black;
                color: var(--accent-color);
            }
        }
    }
}

/*
 *
 * MAKE IT LOOK GOOD ON ANY SCREEN
 *
 */

/* makes the landing page transision smoothly*/
@media only screen and (min-height: 450px){
    .title_box{
        padding-top: 25vh;
    }
}
@media only screen and (min-height: 600px){
    .title_box{
        padding-top: 150px;
    }
}

@media only screen and (min-width: 2000px) and (max-height: 600){
    /*
     * same shit here
     */

    .picture_title_and_more__background{
        height: 600px;
        padding-top: 150px;
    }
}

@media (prefers-color-scheme: dark){ /* DARK MODE */

    .box{
        border-color: var(--back_ground-color3_dark);
        background-color: #1B1B1B;
        box-shadow: 0 0 2em -0.5em var(--back_ground-color3);
    }
    h2{
        color: white;
    }h3{
        color: white;
    }
    
    .picture_title_and_more__background{
        background-image: var(--back_ground-top_dark);
    }

    .Interessed{
        background-image: var(--back_ground-bottom_dark);

        .overflow_up{
            background-color: var(--back_ground-color_dark);
        }

        .Interessed__box{

            .list_of_socials{
        
                .Interessed___li_icon{
        
                    background-color: #111517;
                    border-color: #1D2226;
                    box-shadow: 0 0 1em -0.5em var(--back_ground-color3);
                
                    .Interessed__icon_a{        
                        
                        .Interessed__icon_lightmode{
                            display: none;
                        }
                        .Interessed__icon_darkmode{
                            display: block;
                        }
                    }
                }/*.Interessed___li_icon:hover{

                }*/
            }
        }
    }

    .contact_me__form_box{
        background-color: #111517;
    
        .contact_me__form{
            
            label{
            color: white;
            }
            
            .contact_me__form__email_input{
                background-color: #1D2226;
                border-color: var(--back_ground-color3_dark);
                color: white;

            }.contact_me__form__email_input:focus{
                box-shadow: 0 0 2em -1em var(--back_ground-color3_dark);

            }
            
            .contact_me__form__message_input{
                background-color: #1D2226;
                border-color: var(--back_ground-color3_dark);
                color: white;        
            }.contact_me__form__message_input:focus{
                box-shadow: 0 0 2em -1em var(--back_ground-color3_dark);
            }
        }
    }

    .shadow_button{
        box-shadow: 0 0 1em -0.5em var(--back_ground-color3);
        background-color: #111517;
        border-color: var(--back_ground-color3_dark);
        color: var(--back_ground-color);
    }/*.shadow_button:hover{
        background-color: var(--back_ground-color);
        border-color: var(--back_ground-color_dark);
        color: var(--back_ground-color_dark);
    }*/
}
