$MAX_SCREEN_RESOLUTION: 1920px;

:root {
    --MAX_SCREEN_RESOLUTION: $MAX_SCREEN_RESOLUTION;
}

body{
    background-color: var(--back_ground-color);
}

/**
 * this makes it so that the webpages become a stand out over a background
 * and the the titles do not crash into the page and become unreadable since
 * since both the title and the background is white 
 */
@media only screen and (min-width: $MAX_SCREEN_RESOLUTION) {

    .content__body{
        // min-width: var(--MAX_SCREEN_RESOLUTION);
        // width: calc(90vw);
        // max-width: calc((var(--MAX_SCREEN_RESOLUTION) * 11)/10);
        width: $MAX_SCREEN_RESOLUTION;

        margin-left: auto;
        margin-right: auto;

        align-self: center;

        background-color: var(--back_ground-color);
        box-shadow: 0 0 2em -1em var(--back_ground-color_dark);
    }

    body{
        background-color: red !important    ;
        background-color: var(--back_ground-color4);
    }
}

@media (prefers-color-scheme: dark) { 
    
    .content__body{
        background-color: var(--back_ground-color_dark);
        box-shadow: 0 0 2em -1em var(--back_ground-color);
    }

    body{
        background-color: var(--back_ground-color4_dark) !important;
    }
}