//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ imports ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

$max-main-width: 1920px;

:root { // Store them in the root
    /* default width */
        --min-content-width: 5em;
        --content-width: 80%;
        --max-content-width: 60em;
        --line-after-title-width: 50px;
        /* Main content width */
            --min-main-width: 350px;
            --max-main-width: $max-main-width;
    /* shadow */
        --shadow-offset-x: 0;
        --shadow-offset-y: 0;
        --shadow-blur-radius: 2em;
        --shadow-spread-radius: -0.5em;
        --light-mode-shadow: #343C3F;
        --dark-mode-shadow: #808080; /* <-- #a09fa5 <-- #d0ccd2 <-- #fbf8fc */;
    /* borders */
        --border-radius: 10px;
        --border-width: 1px;
        --dark-mode-border-color: var(--dark-mode-layer-0-background-color);
        --light-mode-border-color: var(--light-mode-layer-0-background-color);
    /* Margins */
        --default-top-margin: calc(2 * var(--default-text-size));
        --default-left-margin: auto;
        --default-right-margin: auto;
    /* text */
        --text-alignments: center;
        /* fonts */
        --title-font: 'Old Standard TT', serif;
        --text-font: 'Source Serif Pro', monospace;
        /* size */
            --default-text-size: 16px;
            --h1-size: 3em;
            --h2-size: 2.5em;
            --h3-size: 1.4em;
        /* list styles */
            --list-styles: none;
    /* buttons */
        --button-width: 14.7em;
        --button-height: 2.7em;
    /* colors */
        /* Accent colors */
            --accent-color: #A155B5;
            --sec-accent-color: #A155B5;
        /* Light mode */
            --light-mode-body-background-color: #fcf7fe;
            --light-mode-main-background-color: #FBF8FC;
            --light-mode-layer-0-background-color: #F3F0F6;
            --light-mode-layer-1-background-color: #e8e6ed;
            --light-mode-layer-2-background-color: #D1D1DB;
            --light-mode-border-color: #808080;
            --light-mode-title-color: #000000;
            --light-mode-text-color: #808080;
        /* Dark mode */
            --dark-mode-body-background-color: #0e1112;
            --dark-mode-main-background-color: #14181B;
            --dark-mode-layer-0-background-color: #1D2226;
            --dark-mode-layer-1-background-color: #343C3F;
            --dark-mode-layer-2-background-color: #4D585C;
            --dark-mode-border-color: #808080;
            --dark-mode-title-color: #fcf7fe;
            --dark-mode-text-color: #808080;
}

// /* thing to customise */ {
//     font weight, alignment, size, family, color
//     Color
//     Background Color, and image
//     border
//     width 
//     height
//     padding
//     margin
//     other
// }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DEFAULT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
* {
    // font weight, alignment size, family, color
        text-align: var(--text-alignments);
        font-size: var(--default-text-size);
        font-family: var(--text-font);
        color: var(--light-mode-text-color);
    // Background Color, and image
    // border
        border: none;
        border-image-width: none;
    // width 
    // height
    // padding
    // margin
        margin-top: 0;
        margin-left: var(--default-left-margin);    
        margin-right: var(--default-right-margin);
        margin-bottom: 0;
    // margin related
    // other
        text-size-adjust: none !important;
} 
@media (prefers-color-scheme: dark) {
    * {
        color: var(--dark-mode-text-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
html {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
    // border
    // width 
        min-width: 100vw;
        max-width: 100vw;
    // height
    // padding
        padding: 0;
    // margin
        margin: 0;
    // other
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
body {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--light-mode-body-background-color);
    // border
    // width 
        min-width: 100vw;
        max-width: 100vw;
    // height
        min-height: 100vh;
    // padding
        padding: 0;
    // margin
        margin: 0;
    // other
        text-size-adjust: none !important;
} 
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-mode-body-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

main {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--light-mode-main-background-color);
    // border
        border-width: var(--border-width);
        border-color: var(--border-color);
    // width 
        min-width: var(--min-main-width);
        width: 100%;
        max-width: $max-main-width;
    // height
        min-height: 100vh;
        height: 100%;
    // padding
    // margin
        margin: 0 auto;
    // other
        overflow: hidden;
        box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
}
@media (prefers-color-scheme: dark) {
    main {
        background-color: var(--dark-mode-main-background-color);
        box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
    }
}
@media only screen and (min-height: $max-main-width){
    main {
        border-left: solid;
        border-right: solid;
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
section {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        // background-color: red !important;
    // border
    // width 
    // height
    // padding
        padding: 0;
    // margin
        margin-top: 5em;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    // other

} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Div ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
div {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
    // border
    // width 
    // height
    // padding
        padding: 0;
    // margin
        margin: 0;
    // other
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ H1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
h1 {
    // font weight, alignment, size, family, color
        font-size: var(--h1-size);
        font-family: var(--title-font);
        text-transform: capitalize;
    // Color
        color: var(--light-mode-title-color);
    // Background Color, and image
    // border
    // width 
        max-width: var(--max-content-width);
        width: var(--content-width);
    // height
    // padding
    // margin
        margin-top: calc(2 * var(--default-top-margin));
    // other
} h1::after {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--accent-color);
    // border
    // width 
        width: var(--line-after-title-width);
    // height
        height: 2px; 
    // padding
    // margin
        margin-top: calc(var(--default-top-margin)/3);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc(var(--default-top-margin)/2);
    // other
        display: block;
        content: "";
}
@media (prefers-color-scheme: dark) {
    h1 {
        color: var(--dark-mode-title-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ H2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
h2 {
    // font weight, alignment, size, family, color
        font-size: var(--h2-size);
        font-family: var(--title-font);
        text-transform: capitalize;
    // Color
        color: var(--light-mode-title-color);
    // Background Color, and image
    // border
    // width 
        max-width: var(--max-content-width);
        width: var(--content-width);
    // height
    // padding
    // margin
        margin-top: calc(2 * var(--default-top-margin));
    // other
} h2::after {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--accent-color);
    // border
    // width 
        width: var(--line-after-title-width);
    // height
        height: 2px; 
    // padding
    // margin
        margin-top: calc(var(--default-top-margin)/3);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc(var(--default-top-margin)/2);
    // other
        display: block;
        content: "";
} 
@media (prefers-color-scheme: dark) {
    h2 {
        color: var(--dark-mode-title-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ H3 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
h3 {
    // font weight, alignment, size, family, color
        font-size: var(--h3-size);
        font-family: var(--title-font);
        text-transform: capitalize;
    // Color
        color: var(--light-mode-title-color);
    // Background Color, and image
    // border
    // width 
        max-width: var(--max-content-width);
        width: var(--content-width);
    // height
    // padding
    // margin
        margin-top: calc(2 * var(--default-top-margin));
    // other
} h3::after {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--accent-color);
    // border
    // width 
        width: var(--line-after-title-width);
    // height
        height: 2px; 
    // padding
    // margin
        margin-top: calc(var(--default-top-margin)/3);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc(var(--default-top-margin)/2);
    // other
        display: block;
        content: "";
}
@media (prefers-color-scheme: dark) {
    h3 {
        color: var(--dark-mode-title-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Em ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
em {
    // font weight, alignment, size, family, color
        font-style: normal;
        // font-weight: bold;
    // Color
        color: var(--accent-color);
    // Background Color, and image
    // border
    // width 
    // height
    // padding
    // margin
    // other
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Paragraphs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
p {
    // font weight, alignment, size, family, color
    // Color
        color: var(--light-mode-text-color);
    // Background Color, and image
    // border
    // width 
        max-width: var(--max-content-width);
        width: var(--content-width);
    // height
    // padding
    // margin
    margin-top: calc(var(--default-top-margin)/2);
    // other
}
@media (prefers-color-scheme: dark) {
    p {
        color: var(--dark-mode-text-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Anchor ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
a {
    color: var(--accent-color);
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Lists ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
ul {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
    // border
    // width 
        max-width: var(--max-content-width);
        width: var(--content-width);
    // height
    // padding
        padding: 0;
    // margin
    // other
} li {
    list-style-type: var(--list-styles);
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
button {
    // font weight, alignment, size, family, color
        font-weight: bold;
        text-transform: uppercase;
        color: var(--light-mode-layer-0-background-color);
    // Background Color, and image
        background-color: var(--accent-color);
    // border
        border: solid;
        border-color: var(--light-mode-layer-0-background-color);
        border-radius: var(--border-radius);
        border-width: var(--border-width);
    // width 
        width: calc(var(--button-width) - 2*var(--border-width));
    // height
        height: calc(var(--button-height) - 2*var(--border-width));
    // padding
    // margin
        margin-top: 1em;
    // other
} 
// button:hover {
//     background-color: red;// var(--accent-color);
// } 
@media (prefers-color-scheme: dark) {
    button {
        color: var(--light-mode-layer-0-background-color);
        border-color: var(--light-mode-layer-0-background-color);
    }
}


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
img {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    // border
        border-radius: var(--border-radius);
    // width 
        width: 100%;
        // Define a max width AND .box will automagically stop growing when the image does.
    // height
    // padding
    // margin
    // other
        aspect-ratio: 1/1;
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Labels ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
label {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
    // border
    // width 
        width: var(--content-width);
        max-width: var(--max-content-width);
    // height
    // padding
    // margin
        margin-top: var(--default-top-margin);
    // other
        display: inline-block;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Inputs & Text-Areas ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
input, textarea {
        // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--light-mode-background-layer-0-color);
    // border
        border-color: var(--border-color);
        border-radius: var(--border-radius);
        border-width: var(--border-width);
    // width 
        min-width: auto;
        width: 80%;
        max-width: auto;
    // height
    // padding
        padding: 0.5em;
    // margin
        margin-top: calc(var(--default-top-margin)/2);
    // other
        display: inline-block;
// } input::placeholder, textarea::placeholder {
//     color: #999;
//     font-style: italic;
// } input:invalid + label, textarea:invalid + label{
//     color: red;
//     outline: 2px solid red;
// } input:focus, textarea:focus {
//     color: var(--accent-color);
//     border-color: var(--accent-color) !important;
// } input:disabled + label, textarea:disabled + label {
//     background-color: #eee;
//     color: #888;
//     cursor: not-allowed;
} 
@media (prefers-color-scheme: dark) {
    input, textarea {
        background-color: var(--dark-mode-background-layer-0-color)
    } 
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ iFrames ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
iframe {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: darkcyan;
    // border
        border: 0;
    // width 
        width: 100vw;
    // height
    // padding
        padding: 0;
    // margin
    // other
} iframe[seamless] {
    border: none;
} 

// ????????????????????????????????????????????????????????????????????????????????????????????????????????????????? //
// ??????????????????????????????????????????????? Self-Made-Classes ??????????????????????????????????????????????? //
// ????????????????????????????????????????????????????????????????????????????????????????????????????????????????? //

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hidden ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.hidden {
    display: none !important;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Not Scrollable ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.not-scrollable {
    overflow: hidden;
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rounded ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.rounded {
    border-radius: var(--border-radius);
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bold ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.bold {
    font-weight: bold;
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Horizontally, and Vertically-Centered ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~// 
.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
} .vertically-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bordered ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.bordered {
    border-width: var(--border-width) !important;
    border-color: var(--light-mode-border-color);
    border: solid;
} 
@media (prefers-color-scheme: dark){
    .bordered {
        border-color: var(--dark-mode-border-color);
    } 
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Shadowed ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.shadow {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
} 
@media (prefers-color-scheme: dark){
    .shadow {
        box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
    } 
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Non-Resizable ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.not-resizable {
    resize: none;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Boxs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.box {
    @extend .shadow;
    @extend .bordered;
    @extend .rounded;
    @extend .horizontally-centered;
    @extend .not-scrollable;
    
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: var(--light-mode-background-layer-2-color);
    // border
    // width 
        min-width: auto;
        width: var(--content-width);
        max-width: max-content;
    // height
        // height: fit-content;
    // padding
    // margin
        margin-top: var(--default-top-margin);
    // other
        aspect-ratio: 1/1;
}
@media (prefers-color-scheme: dark){
    .box {
        background-color: var(--dark-mode-background-layer-2-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Black-outs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.blackout {
    z-index: 100;
    background-color: rgba($color: #FFFFFF, $alpha: 0.7);
}
@media (prefers-color-scheme: dark){
    .blackout {
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Followes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.follower {
    position: fixed;
    top: 0;
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Layers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

.layer-0 {
    background-color: var(--light-mode-layer-0-background-color);
} .layer-1 {
    background-color: var(--light-mode-layer-1-background-color);
} .layer-2 {
    background-color: var(--light-mode-layer-2-background-color);
} 
@media (prefers-color-scheme: dark){
    .layer-0 {
        background-color: var(--dark-mode-layer-0-background-color);
    } .layer-1 {
        background-color: var(--dark-mode-layer-1-background-color);
    } .layer-2 {
        background-color: var(--dark-mode-layer-2-background-color);
    } 
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FullScreen ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
.full-screen {
    height: 100vh;
    width: 100vw;
} 

// ????????????????????????????????????????????????????????????????????????????????????????????????????????????????? //
// ????????????????????????????????????????????? Remaining Other Things ???????????????????????????????????????????? //
// ????????????????????????????????????????????????????????????????????????????????????????????????????????????????? //

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hiding the Things that are for a Diffrent Mode ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
@media (prefers-color-scheme: dark){
    .light-mode {
        display: none !important;
    }
}
@media (prefers-color-scheme: light) {
    .dark-mode {
        display: none !important;
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hiding the scrollbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
body {
    -ms-overflow-style: none;  /* hides the scroll bar in Internet Explorer 10+ */
    // overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: none;  /* hides the scroll bar in Firefox */
} body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ End of File ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// ...
