@import url(variables.css);

* {
    // Text related 
    color: var(--light-mode-text-color);
    font-size: var(--default-text-size);
    font-family: var(--text-font);
    text-align: var(--text-alignments);
    // width related
    max-width: var(--max-content-width);
    width: var(--content-width);
    // margin related
    margin-top: 0;
    margin-left: var(--default-left-margin);    
    margin-right: var(--default-right-margin);
    margin-bottom: 0;
} html {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    max-width: 100vw;
} body {
    background-color: var(--light-mode-background-layer-0-color);
    padding: 0;
    margin: 0;
    min-width: 100vw;
    max-width: 100vw;
} main {
    overflow: hidden;
    min-width: var(--min-main-width);
    width: 100%;
    max-width: var(--max-main-width);
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background-color: var(--light-mode-background-layer-1-color);
} section {
    padding: 0;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
} div {
    padding: 0;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
} h1 {
    font-size: var(--h1-size);
    font-family: var(--title-font);
    margin-top: var(--default-top-margin);
    text-transform: capitalize;
} h1::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: var(--line-after-title-width);
    height: 2px; 
    margin-top: calc(var(--default-top-margin)/3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--default-top-margin)/2);
} h2 {
    font-size: var(--h2-size);
    font-family: var(--title-font);
    margin-top: calc(1.5 * var(--default-top-margin));
    text-transform: capitalize;
} h2::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: var(--line-after-title-width);
    height: 2px; 
    margin-top: calc(var(--default-top-margin)/3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--default-top-margin)/2);
} h3 {
    font-size: var(--h3-size);
    font-family: var(--title-font);
    margin-top: calc(2 * var(--default-top-margin));
    text-transform: capitalize;
} h3::after {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: var(--line-after-title-width);
    height: 2px; 
    margin-top: calc(var(--default-top-margin)/3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--default-top-margin)/2);
} em {
    font-weight: bold;
    color: var(--accent-color);
} p {
    margin-top: calc(var(--default-top-margin)/2);
} a {
    color: var(--accent-color);
} ul {
    padding: 0;
} li {
    list-style-type: var(--list-styles);
}  button {
    font-weight: bold;
    text-transform: uppercase;
    // dimentions
    height: calc(var(--button-height) - var(--border-width));
    width: calc(var(--button-width) - var(--border-width));
    margin-top: 1em;

    background-color: var(--accent-color);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);

} iframe {
    padding: 0;
    border: 0;
    background-color: darkcyan;
    width: 100vw;
} iframe[seamless] {
    border: none;
} 

//~~~ Self Made classes ~~~//
.hidden {
    display: none;
} .not-scrollable {
    overflow: hidden;
} .rounded {
    border-radius: var(--border-radius);
} .bold {
    font-weight: bold;
} .horisontally-centered {
    margin-left: auto;
    margin-right: auto;
} .vertically-centered{
    display: flex;
    align-items: center;
} .bordered {
    border-width: var(--border-width);
    border-color: var(--light-mode-border-color);
} .shadow {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
} .box {
    background-color: var(--light-mode-background-layer-2-color);
} .blackout {
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.7);
} .follower {
    position: fixed;
    top: 0;
}

//~~~~~~~~~~~~~~~~ Dark Mode Changes ~~~~~~~~~~~~~~~~//
@media (prefers-color-scheme: dark){

    * {
        color: var(--dark-mode-text-color);
    } main {
        background-color: var(--dark-mode-background-layer-1-color);
    } body {
        background-color: var(--dark-mode-background-layer-0-color);
    }

    .light-mode {
        display: none !important;
    }

    .bordered {
        border-color: var(--dark-mode-border-color);
    } .shadow {
        box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
    } .box {
        background-color: var(--dark-mode-background-layer-2-color);
    }
} 
@media (prefers-color-scheme: light) {
    .dark-mode {
        display: none !important;
    }
}


//~~~~~~~~~~~~~~~~ Hiding the scrollbar ~~~~~~~~~~~~~~~~//
body {
    -ms-overflow-style: none;  /* hides the scroll bar in Internet Explorer 10+ */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: none;  /* hides the scroll bar in Firefox */
} body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}