:root {
  /* default width */
  --min-content-width: 5em;
  --content-width: 80%;
  --max-content-width: 60em;
  --line-after-title-width: 50px;
  /* Main content width */
  --min-main-width: 350px;
  --max-main-width: $max-main-width;
  /* shadow */
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --shadow-blur-radius: 2em;
  --shadow-spread-radius: -0.5em;
  --light-mode-shadow: #343C3F;
  --dark-mode-shadow: #808080; /* <-- #a09fa5 <-- #d0ccd2 <-- #fbf8fc */
  /* borders */
  --border-radius: 10px;
  --border-width: 1px;
  --dark-mode-border-color: var(--dark-mode-layer-0-background-color);
  --light-mode-border-color: var(--light-mode-layer-0-background-color);
  /* Margins */
  --default-top-margin: calc(2 * var(--default-text-size));
  --default-left-margin: auto;
  --default-right-margin: auto;
  /* text */
  --text-alignments: center;
  /* fonts */
  --title-font: "Old Standard TT", serif;
  --text-font: "Source Serif Pro", monospace;
  /* size */
  --default-text-size: 16px;
  --h1-size: 3em;
  --h2-size: 2.5em;
  --h3-size: 1.4em;
  /* list styles */
  --list-styles: none;
  /* buttons */
  --button-width: 14.7em;
  --button-height: 2.7em;
  /* colors */
  /* Accent colors */
  --accent-color: #A155B5;
  --sec-accent-color: #A155B5;
  /* Light mode */
  --light-mode-body-background-color: #fcf7fe;
  --light-mode-main-background-color: #FBF8FC;
  --light-mode-layer-0-background-color: #F3F0F6;
  --light-mode-layer-1-background-color: #e8e6ed;
  --light-mode-layer-2-background-color: #D1D1DB;
  --light-mode-border-color: #808080;
  --light-mode-title-color: #000000;
  --light-mode-text-color: #808080;
  /* Dark mode */
  --dark-mode-body-background-color: #0e1112;
  --dark-mode-main-background-color: #14181B;
  --dark-mode-layer-0-background-color: #1D2226;
  --dark-mode-layer-1-background-color: #343C3F;
  --dark-mode-layer-2-background-color: #4D585C;
  --dark-mode-border-color: #808080;
  --dark-mode-title-color: #fcf7fe;
  --dark-mode-text-color: #808080;
}

* {
  text-align: var(--text-alignments);
  font-size: var(--default-text-size);
  font-family: var(--text-font);
  color: var(--light-mode-text-color);
  border: none;
  border-image-width: none;
  margin-top: 0;
  margin-left: var(--default-left-margin);
  margin-right: var(--default-right-margin);
  margin-bottom: 0;
  -webkit-text-size-adjust: none !important;
     -moz-text-size-adjust: none !important;
          text-size-adjust: none !important;
}

@media (prefers-color-scheme: dark) {
  * {
    color: var(--dark-mode-text-color);
  }
}
html {
  min-width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-mode-body-background-color);
  min-width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none !important;
     -moz-text-size-adjust: none !important;
          text-size-adjust: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-body-background-color);
  }
}
main {
  background-color: var(--light-mode-main-background-color);
  border-width: var(--border-width);
  border-color: var(--border-color);
  min-width: var(--min-main-width);
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--dark-mode-main-background-color);
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
  }
}
@media only screen and (min-height: 1920px) {
  main {
    border-left: solid;
    border-right: solid;
  }
}
section {
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--h1-size);
  font-family: var(--title-font);
  text-transform: capitalize;
  color: var(--light-mode-title-color);
  max-width: var(--max-content-width);
  width: var(--content-width);
  margin-top: calc(2 * var(--default-top-margin));
}

h1::after {
  background-color: var(--accent-color);
  width: var(--line-after-title-width);
  height: 2px;
  margin-top: calc(var(--default-top-margin) / 3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--default-top-margin) / 2);
  display: block;
  content: "";
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: var(--dark-mode-title-color);
  }
}
h2 {
  font-size: var(--h2-size);
  font-family: var(--title-font);
  text-transform: capitalize;
  color: var(--light-mode-title-color);
  max-width: var(--max-content-width);
  width: var(--content-width);
  margin-top: calc(2 * var(--default-top-margin));
}

h2::after {
  background-color: var(--accent-color);
  width: var(--line-after-title-width);
  height: 2px;
  margin-top: calc(var(--default-top-margin) / 3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--default-top-margin) / 2);
  display: block;
  content: "";
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: var(--dark-mode-title-color);
  }
}
h3 {
  font-size: var(--h3-size);
  font-family: var(--title-font);
  text-transform: capitalize;
  color: var(--light-mode-title-color);
  max-width: var(--max-content-width);
  width: var(--content-width);
  margin-top: calc(2 * var(--default-top-margin));
}

h3::after {
  background-color: var(--accent-color);
  width: var(--line-after-title-width);
  height: 2px;
  margin-top: calc(var(--default-top-margin) / 3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--default-top-margin) / 2);
  display: block;
  content: "";
}

@media (prefers-color-scheme: dark) {
  h3 {
    color: var(--dark-mode-title-color);
  }
}
em {
  font-style: normal;
  color: var(--accent-color);
}

p {
  color: var(--light-mode-text-color);
  max-width: var(--max-content-width);
  width: var(--content-width);
  margin-top: calc(var(--default-top-margin) / 2);
}

@media (prefers-color-scheme: dark) {
  p {
    color: var(--dark-mode-text-color);
  }
}
a {
  color: var(--accent-color);
}

ul {
  max-width: var(--max-content-width);
  width: var(--content-width);
  padding: 0;
}

li {
  list-style-type: var(--list-styles);
}

button {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-mode-layer-0-background-color);
  background-color: var(--accent-color);
  border: solid;
  border-color: var(--light-mode-layer-0-background-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  width: calc(var(--button-width) - 2 * var(--border-width));
  height: calc(var(--button-height) - 2 * var(--border-width));
  margin-top: 1em;
}

@media (prefers-color-scheme: dark) {
  button {
    color: var(--light-mode-layer-0-background-color);
    border-color: var(--light-mode-layer-0-background-color);
  }
}
img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  width: 100%;
  aspect-ratio: 1/1;
}

label {
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin-top: var(--default-top-margin);
  display: inline-block;
}

input, textarea {
  background-color: var(--light-mode-background-layer-0-color);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  min-width: auto;
  width: 80%;
  max-width: auto;
  padding: 0.5em;
  margin-top: calc(var(--default-top-margin) / 2);
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  input, textarea {
    background-color: var(--dark-mode-background-layer-0-color);
  }
}
iframe {
  background-color: darkcyan;
  border: 0;
  width: 100vw;
  padding: 0;
}

iframe[seamless] {
  border: none;
}

.hidden {
  display: none !important;
}

.not-scrollable, .box {
  overflow: hidden;
}

.rounded, .box {
  border-radius: var(--border-radius);
}

.bold {
  font-weight: bold;
}

.horisontally-centered, .box {
  margin-left: auto;
  margin-right: auto;
}

.vertically-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bordered, .box {
  border-width: var(--border-width) !important;
  border-color: var(--light-mode-border-color);
  border: solid;
}

@media (prefers-color-scheme: dark) {
  .bordered, .box {
    border-color: var(--dark-mode-border-color);
  }
}
.shadow, .box {
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
}

@media (prefers-color-scheme: dark) {
  .shadow, .box {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
  }
}
.not-resizable {
  resize: none;
}

.box {
  background-color: var(--light-mode-background-layer-2-color);
  min-width: auto;
  width: var(--content-width);
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: var(--default-top-margin);
  aspect-ratio: 1/1;
}

@media (prefers-color-scheme: dark) {
  .box {
    background-color: var(--dark-mode-background-layer-2-color);
  }
}
.blackout {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  .blackout {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.follower {
  position: fixed;
  top: 0;
}

.layer-0 {
  background-color: var(--light-mode-layer-0-background-color);
}

.layer-1 {
  background-color: var(--light-mode-layer-1-background-color);
}

.layer-2 {
  background-color: var(--light-mode-layer-2-background-color);
}

@media (prefers-color-scheme: dark) {
  .layer-0 {
    background-color: var(--dark-mode-layer-0-background-color);
  }
  .layer-1 {
    background-color: var(--dark-mode-layer-1-background-color);
  }
  .layer-2 {
    background-color: var(--dark-mode-layer-2-background-color);
  }
}
.full-screen {
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  .light-mode {
    display: none !important;
  }
}
@media (prefers-color-scheme: light) {
  .dark-mode {
    display: none !important;
  }
}
body {
  -ms-overflow-style: none; /* hides the scroll bar in Internet Explorer 10+ */
  scrollbar-width: none; /* hides the scroll bar in Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}/*# sourceMappingURL=content.css.map */