/**
 *! READ ME BEFORE USE!
 *
 * The point of this is to show things in a 3x? grid with the last row of items being centerd. 
 * The conent will contain a div with: a title, a description, and an image.
 *
 * The content within a panel-grid must follow it's structure or be hidden by default.
 * Please look at the following structure:
 *
 * <div class="panel-grid">
 *   <div class="showcase-grid-item">
 *
 *   </div>
 * </div>
 *
 * Every other element within the Panel-grid will be hidden by default that does not have one of these classes and 
 * element-types.
 */
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Panel-Grid ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
div.panel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 32.639%));
    grid-gap: 10px;

    width: var(--content-width);
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    align-content: end;
    background-color: red;
}

// hides all the content within this container by default
div.panel-grid > * {display: none;}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Panel-Grid items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.panel-grid > div.panel-grid-item {
    display: block;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

// hides all the content within this container by default
div.panel-grid > div.panel-grid-item > * {display: none;}

