@import url(../Assets/code/max_screen_width_protection.css);
@import url(../Assets/code/base_kit.css);
@import url(../Assets/code/cards.css);
/*
 *
 * Who am I section
 *
 */
.who_am_I__container {
  padding-top: 2em;
}

.Who_am_I__h2 {
  margin-top: 0em;
}

.Who_am_I__img_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  aspect-ratio: 1/1;
  width: 20%;
  min-width: 10em;
  max-width: 15em;
  position: relative;
}

.Who_am_I__img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: var(--bor_rad);
  box-shadow: 0 0 2em -1em black;
}

.Who_am_I__h3 {
  margin-top: 3em !important;
}

.summary {
  display: none;
  margin-top: 5em;
}

.Who_am_I__h3 {
  margin-top: 0em;
}

.Who_am_I__sum_of_qualities {
  width: 100%;
  display: block;
  overflow: auto;
  padding-top: 2em;
}

.Who_am_I__info_container_Q {
  width: 50%;
  float: left;
  height: -moz-fit-content;
  height: fit-content;
}

.Who_am_I__ul_Q {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.Who_am_I__li_Q {
  text-align: right;
}

.Who_am_I__info_container_A {
  width: 50%;
  float: right;
}

.Who_am_I__ul_A {
  width: 100%;
}

.Who_am_I__li_A {
  padding-left: 0.25em;
}

/*
 * 
 * My_skills
 *
 */
.My_skills__grid {
  display: grid;
  grid-template-columns: 50% 50%; /* change to 33% 34% 33% when resolution is high enough */
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.My_skills__img_container {
  width: 6em;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.My_skills__img {
  height: 100%;
  width: 100%;
}

.My_skills__h3 {
  margin-top: 1em;
  font-size: 1.2em;
}

.My_skills__text { /* hides text unless screen is big enough */
  display: none;
  margin-top: 0.3em;
  width: 80%;
}

/*
 *
 * My_latest_works section
 *
 */
.clients__container {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
  max-width: 25em;
  min-width: 15em;
  padding: 1em;
  width: 20%;
}
.clients__container .clients__container__rolet {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}
.clients__container .clients__container__rolet .client {
  aspect-ratio: 1/1;
  width: 100%;
  position: absolute;
}
.clients__container .clients__container__rolet .client .client__img {
  aspect-ratio: 1/1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0%;
  transition: opacity 0.5s ease-in-out;
}
.clients__container .clients__container__rolet .client .display_client {
  opacity: 100% !important;
}

/*
 *
 * My_latest_works section
 *
 */
.My_latest_works__p {
  margin-top: 3em;
}

.card_container_of_all_cards {
  margin-top: 4em;
}

.My_latest_works {
  padding-bottom: 1em;
}

/*
 *
 * MAKE IT LOOK GOOD ON ANY SCREEN
 *
 */
@media only screen and (min-width: 400px) {
  .summary { /* 300px wasn't enough to display it */
    display: block;
  }
}
@media only screen and (min-width: 600px) and (prefers-color-scheme: light) {
  /*  there have to be two of these to make sure that it works for both light and dark mode*/
  .My_skills__h3 {
    color: black !important;
  }
  .My_skills__grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .My_skills__text {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (prefers-color-scheme: dark) {
  .My_skills__h3 {
    color: white !important;
  }
  .My_skills__grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .My_skills__text {
    display: block;
  }
}
@media only screen and (min-width: 900px) {
  .My_skills__grid {
    grid-template-columns: 33% 33% 33%; /* change to 33% 34% 33% when resolution is high enough */
  }
}
@media (prefers-color-scheme: dark) {
  .My_skills__h3 {
    color: --back_ground-color3;
  }
  .Who_am_I__img {
    box-shadow: 0 0 2em -1em var(--back_ground-color3);
  }
}/*# sourceMappingURL=style.css.map */