@import url(/assets/code/base-kit/variables.css);

$socialsButtonSize: 3em;
$socialsButtonIconSize: 1.5em;

#bottom-section {
    background-image: url(/assets/images/placeholder/blue_and_yellow_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}
    
#bottom-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;  
    height: 100%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

#bottom-h2 {
} #bottom-h2::after { 
    content: none; // removes the line
}

#bottom-button {
    margin-top: calc(var(--default-top-margin) * 2);
    margin-bottom: calc(var(--default-top-margin) * 3);
}

#bottom-list-of-socials {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: center;
}

#bottom-list-of-socials > a {
    display: inline-block;
    align-self: center;
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
}

#bottom-list-of-socials > a > img {
    aspect-ratio: 1/1;
    width: $socialsButtonIconSize;
    display: block;

    background-color: var(--accent-color);
    border-radius: 50%;
    border: solid;
    border-width: var(--border-width);
    padding: calc(($socialsButtonSize - (2 * var(--border-width)) - $socialsButtonIconSize)/2 );
} #bottom-list-of-socials-facebook-icon {
    display: none !important;
// } #bottom-list-of-socials-instagram-icon {
//     display: none !important;
// } #bottom-list-of-socials-snapchat-icon {
//     display: none !important;
// } #bottom-list-of-socials-linkedin-icon {
//     display: none !important;
} #bottom-list-of-socials-whatsapp-icon {
    display: none !important;
} #bottom-list-of-socials-email-icon {
    display: none !important;
}

//~~~~~~~~~~~~~~ Changes based on Dark or Light mode ~~~~~~~~~~~~~~//
@media (prefers-color-scheme: light) {
    #bottom-container {
        background-image: url(/assets/images/baners/landing_page_bottom_no_image.svg);
    }

    #bottom-list-of-socials > a > img {
        border-color: black;
    }
}

@media (prefers-color-scheme: dark){
    #bottom-container {
        background-image: url(/assets/images/baners/landing_page_bottom_no_image_dark.svg);
    }

    #bottom-list-of-socials > a > img {
        border-color: white;
    }
}

//~~~~~~~~~~~~~~ Changes based on Display Width ~~~~~~~~~~~~~~//
@media only screen and (min-width: 750px) {
    // ...
}
