@import url(/assets/code/base-kit/variables.css);

$socialsButtonSize: 3em;
$socialsButtonIconSize: 1.5em;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bottom Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-section {
    background-image: url(/assets/images/paterns/Ngaruroro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: var(--light-mode-main-background-color);
    height: 100vh;
}
@media (prefers-color-scheme: dark){
    #bottom-section {
        background-color: var(--dark-mode-main-background-color);
    }
}
// #bottom-section::before {
//     content: "";
//     background-color: var(--light-mode-main-background-color);
//     width: 100%;
//     max-width: var(--max-main-width);
//     height: 5px;
//     top: 0px;
//     z-index: 999;
//     position: relative;
//     display: block;
// }
// @media (prefers-color-scheme: dark){
//     #bottom-section::before {
//         background-color: var(--dark-mode-main-background-color);
//         // background-color: red;
//     }
// }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bottom Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;  
    background-image: url(/assets/images/baners/landing_page_bottom_no_image.svg);
    height: 100%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
@media (prefers-color-scheme: dark){
    #bottom-container {
        background-image: url(/assets/images/baners/landing_page_bottom_no_image_dark.svg);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ H2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-h2 {
    color: var(--light-mode-layer-0-background-color);
} #bottom-h2::after { 
    content: none; // removes the line
}
// @media (prefers-color-scheme: dark) {
//     #bottom-h2 {
//         color: var(--dark-mode-layer-0-background-color);
//     }
// }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Paragraphs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-p {
    color: var(--light-mode-layer-0-background-color);
}
// @media (prefers-color-scheme: dark) {
//     #bottom-p {
//         color: var(--dark-mode-layer-0-background-color);
//     }
// }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-button {
    margin-top: calc(var(--default-top-margin));
    margin-bottom: calc(var(--default-top-margin) * 3);
    box-shadow: none;
    color: var(--light-mode-layer-0-background-color);
    border-color: var(--light-mode-layer-0-background-color);
    border: solid var(--border-width);
}
@media (prefers-color-scheme: dark) {
    #bottom-button {
        border-color: var(--light-mode-layer-0-background-color) !important;
        // color: var(--dark-mode-layer-0-background-color);
        // border-color: var(--dark-mode-layer-0-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Lists ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-list-of-socials {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: center;
}

#bottom-list-of-socials > a {
    display: inline-block;
    align-self: center;
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-list-of-socials > a > img {
    aspect-ratio: 1/1;
    width: $socialsButtonIconSize;
    // display: block;

        background-color: var(--accent-color);
    border-radius: 50%;
    border: solid;
    border-width: var(--border-width);
    border-color: var(--light-mode-layer-0-background-color);
    padding: calc(($socialsButtonSize - (2 * var(--border-width)) - $socialsButtonIconSize)/2 );
} 
@media (prefers-color-scheme: dark){
    #bottom-list-of-socials > a > img {
        border-color: var(--light-mode-layer-0-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Icons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#bottom-list-of-socials-facebook-icon {
    display: none !important;
// } #bottom-list-of-socials-instagram-icon {
//     display: none !important;
// } #bottom-list-of-socials-snapchat-icon {
//     display: none !important;
// } #bottom-list-of-socials-linkedin-icon {
//     display: none !important;
} #bottom-list-of-socials-whatsapp-icon {
    display: none !important;
} #bottom-list-of-socials-email-icon {
    display: none !important;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Changes based on Display Width ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
@media only screen and (min-width: 750px) {
    // ...
}
