:root {
    --accent-color: #DA774A !important;
}

main {
    // SVG's out of the patterns folder that looked good:
    // Mataura.svg
    // Taieri.svg
    // Waihou.svg
    // Waimakariri.svg
    // Whangaehu.svg
    background-image: url(/assets/images/paterns/Taieri.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: none;
}

#contact-me-close-button {
    display: none !important;
}