:root {
  --accent-color: #DA774A !important;
}

main {
  background-image: url(/assets/images/paterns/Taieri.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: none;
}

section#top-section,
section#bottom-section {
  display: none !important;
}

#contact-me-close-button {
  display: none !important;
}