section#contact-me-section {
  display: flex;
  align-items: center;
}

button#contact-me-close-button {
  color: var(--light-mode-title-color);
  font-weight: bold;
  border-radius: 50%;
  border-color: var(--light-mode-title-color);
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  position: absolute;
  top: 1em;
  right: 1em;
  text-transform: none;
}

@media (prefers-color-scheme: dark) {
  button#contact-me-close-button {
    color: var(--dark-mode-title-color);
    border-color: var(--dark-mode-title-color);
  }
}
div#contact-me-forum-container {
  background-color: var(--light-mode-layer-0-background-color);
  min-width: auto;
  width: auto;
  max-width: auto;
  padding: 0em;
  margin-top: 0;
  position: relative;
  aspect-ratio: auto;
}

@media (prefers-color-scheme: dark) {
  div#contact-me-forum-container {
    background-color: var(--dark-mode-layer-0-background-color);
  }
}
form#contact-me-forum {
  min-width: 320px;
  width: 80vw;
  max-width: 800px;
  min-height: 480px;
  height: 80vh;
  max-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  aspect-ratio: auto;
}

form#contact-me-forum > div {
  width: 100%;
}

form#contact-me-forum > div > * {
  color: var(--light-mode-title-color);
  border-color: var(--light-mode-border-color);
  min-width: calc(var(--content-width) * 320px);
  width: var(--content-width);
  max-width: auto;
  display: block;
}

@media (prefers-color-scheme: dark) {
  form#contact-me-forum > div > * {
    color: var(--dark-mode-title-color);
    border-color: var(--dark-mode-border-color);
  }
}
form#contact-me-forum > div > input,
form#contact-me-forum > div > textarea {
  margin-top: calc(var(--default-top-margin) / 3);
  color: var(--light-mode-title-color);
  border: solid var(--border-width);
  background-color: var(--light-mode-layer-1-background-color);
}

form#contact-me-forum > div > input::-moz-placeholder, form#contact-me-forum > div > textarea::-moz-placeholder {
  font-style: italic;
  color: var(--light-mode-text-color);
}

form#contact-me-forum > div > input::placeholder,
form#contact-me-forum > div > textarea::placeholder {
  font-style: italic;
  color: var(--light-mode-text-color);
}

form#contact-me-forum > div > input:focus,
form#contact-me-forum > div > textarea:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  outline: none;
}

form#contact-me-forum > div > input:focus::-moz-placeholder, form#contact-me-forum > div > textarea:focus::-moz-placeholder {
  opacity: 0;
}

form#contact-me-forum > div > input:focus::placeholder,
form#contact-me-forum > div > textarea:focus::placeholder {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  form#contact-me-forum > div > input,
  form#contact-me-forum > div > textarea {
    color: var(--dark-mode-title-color);
    background-color: var(--dark-mode-layer-1-background-color);
  }
  form#contact-me-forum > div > input::-moz-placeholder, form#contact-me-forum > div > textarea::-moz-placeholder {
    color: var(--dark-mode-text-color);
  }
  form#contact-me-forum > div > input::placeholder,
  form#contact-me-forum > div > textarea::placeholder {
    color: var(--dark-mode-text-color);
  }
}
label#contact-me-forum-email-label {
  margin-top: 0;
}

input#contact-me-forum-message-input {
  height: calc(4 * var(--default-text-size));
  text-align: left;
}

input#contact-me-forum-message-input {
  /* hides the scroll bar in Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Hide horizontal scrollbar */
  overflow-x: hidden;
  /* hides the scroll bar in Firefox */
  scrollbar-width: none;
}

input#contact-me-forum-message-input::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}

input#contact-me-forum-submit-button {
  color: var(--light-mode-title-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
  border-color: var(--light-mode-title-color);
  width: calc(var(--button-width) - var(--border-width));
  height: calc(var(--button-height) - var(--border-width));
  margin-top: calc(1.5 * var(--default-top-margin));
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  input#contact-me-forum-submit-button {
    color: var(--dark-mode-title-color);
    border-color: var(--dark-mode-title-color);
  }
}/*# sourceMappingURL=content.css.map */