$SPACE_FOR_COLLUM_SEPARATOR: 1em;
/**
 *! READ ME BEFORE USE!
 *
 * The point of this is to show things in a key-value pair.
 * The conent will contain a key, and a value.
 * the code example below will show you how to use this:
 *
 * <div class="spec-sheet">
 *   <p>Key</p>
 *   <p>:</p>
 *   <p>Value</p>
 * </div>
 *
 * everything else will be hidden by default.
 * The key will be right aligned, the value will be left aligned, and the collum separator will be centered.
 * in future versions it will no longer be needed to make an element for the sperator. 
 * That will be automagically inserted using the after-pseudo elements.
 */
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Spec-Sheet ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
div.spec-sheet {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto $SPACE_FOR_COLLUM_SEPARATOR auto;
}

// hides all the content within this container by default
div.spec-sheet > * {display: none;}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Spec-Sheet items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
div.spec-sheet > p {
    display: block;
    margin: 0;
    width: auto;
}

div.spec-sheet > p:nth-child(3n+1) {text-align: right;}
div.spec-sheet > p:nth-child(3n+2) {text-align: center;}
div.spec-sheet > p:nth-child(3n) {text-align: left;}