$MIN_WIDTH: 320px;
$MIN_HEIGHT: 480px;
$CHANGE_POINT: 800px;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
section#contact-me-section {
    // font weigth, alignment size, family, color
    // Background Color, and image
    // border
    // width 
    // height
    // padding
    // margin
        margin-top: 0;
    // other
        display: flex;
        align-items: center;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Close Button ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
button#contact-me-close-button {    
    // font weigth, alignment size, family, color
        color: var(--light-mode-title-color);
        font-weight: bold;
    // Background Color, and image
    // border
        border-radius: 50%;
        border-color: var(--light-mode-title-color);
    // width 
        width: 2.5em;
    // height
        height: 2.5em;
    // padding
        padding: 0;
    // margin
        margin: 0;
    // other
        aspect-ratio: 1/1;
        position: absolute;
        top: 1em;
        right: 1em;
        text-transform: none;
}
@media (prefers-color-scheme: dark) {
    button#contact-me-close-button {    
        color: var(--dark-mode-title-color);
        border-color: var(--dark-mode-title-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
div#contact-me-forum-container {
    // font weigth, alignment size, family, color
    // Background Color, and image
        background-color: var(--light-mode-layer-0-background-color);
    // border
    // width 
        min-width: auto;
        width: auto;
        max-width: auto;
    // height
    // padding
        padding: 0em;
    // margin
        margin-top: 0;
    // other
        position: relative;
        aspect-ratio: auto;
}
@media (prefers-color-scheme: dark) {
    div#contact-me-forum-container {
        background-color: var(--dark-mode-layer-0-background-color);
    }  
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
form#contact-me-forum {
    // font weigth, alignment size, family, color
    // Background Color, and image
    // border
    // width 
        min-width: $MIN_WIDTH;
        width: 80vw;
        max-width: $CHANGE_POINT;
    // height
        min-height: $MIN_HEIGHT;
        height: 80vh;
        max-height: calc(0.4 * $CHANGE_POINT);
    // padding
    // margin
    // other
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        aspect-ratio: auto;
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Elements ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
form#contact-me-forum > div {width: 100%;}
form#contact-me-forum > div > * {
    // font weigth, alignment size, family, color
        color: var(--light-mode-title-color);
        // color: red !important;
    // Background Color, and image
    // border
        border-color: var(--light-mode-border-color);
    // width 
        min-width: calc(var(--content-width) * $MIN_WIDTH);
        width: var(--content-width);
        max-width: auto;
    // height
    // padding
    // margin
    // other
        display: block;
}
@media (prefers-color-scheme: dark) {
    form#contact-me-forum > div > * {
        color: var(--dark-mode-title-color);
        border-color: var(--dark-mode-border-color);
    }  
}
// @media only screen and (min-width: $CHANGE_POINT) {
//     // form#contact-me-forum {
//     // }
//     form#contact-me-forum > div#contact-me-forum-email, div#contact-me-forum-subject {
//         // font weigth, alignment size, family, color
//         // Background Color, and image
//             background-color: green;
//         // border
//         // width 
//             width: 50% !important;
//         // height
//         // padding
//         // other
//             float: left;
//             //// display: inline-block;
//     }
//     form#contact-me-forum > div#contact-me-forum-message {
//         // font weigth, alignment size, family, color
//         // Background Color, and image
//             background-color: blue;
//         // border
//         // width 
//             width: 50%;
//         // height
//         // padding
//         // other
//             float: right;
//             //// display: inline-block;
//     } 
// }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Elements: Input, and TextArea's ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
form#contact-me-forum > div > input, 
form#contact-me-forum > div > textarea {
    margin-top: calc(var(--default-top-margin)/3);
    color: var(--light-mode-title-color);
    border: solid var(--border-width);
    background-color: var(--light-mode-layer-1-background-color);
}
form#contact-me-forum > div > input::placeholder, 
form#contact-me-forum > div > textarea::placeholder {
    font-style: italic;
    color: var(--light-mode-text-color);
}
// form#contact-me-forum > div > input:invalid, textarea:invalid {
//     color: red;
// }
form#contact-me-forum > div > input:focus,
form#contact-me-forum > div > textarea:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    outline: none;
}

form#contact-me-forum > div > input:focus::placeholder,
form#contact-me-forum > div > textarea:focus::placeholder {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
    form#contact-me-forum > div > input, 
    form#contact-me-forum > div > textarea {
        color: var(--dark-mode-title-color);
        background-color: var(--dark-mode-layer-1-background-color);
    }
    form#contact-me-forum > div > input::placeholder, 
    form#contact-me-forum > div > textarea::placeholder {
        color: var(--dark-mode-text-color);
    }
} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Elements: Email Label ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
label#contact-me-forum-email-label {
    margin-top: 0;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Elements: Text-Area ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
input#contact-me-forum-message-input {
    height: calc(4*var(--default-text-size));
    text-align: left;
} 

// Hides the Scoll Bar
input#contact-me-forum-message-input { 
    /* hides the scroll bar in Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
    /* hides the scroll bar in Firefox */
    scrollbar-width: none;
} input#contact-me-forum-message-input::-webkit-scrollbar { 
    /* Safari and Chrome */
    display: none;  
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Elements: Form Submit Button ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
input#contact-me-forum-submit-button {
    // font weigth, alignment size, family, color
        color: var(--light-mode-title-color);
        text-transform: uppercase;
    // Background Color, and image
        background-color: var(--accent-color);
    // border
        border-color: var(--light-mode-title-color);
    // width 
        width: calc(var(--button-width) - var(--border-width));
    // height
        height: calc(var(--button-height) - var(--border-width));
    // padding
    // margin
        margin-top: calc(1.5*var(--default-top-margin));
    // other
        box-shadow: none;
}
@media (prefers-color-scheme: dark) {
    input#contact-me-forum-submit-button {
        color: var(--dark-mode-title-color);
        border-color: var(--dark-mode-title-color);
    }
}
