*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #eaeaea;

}h1{
    text-align: center;
    margin: 1em auto 0 auto; 
    width: 80%; 
    float: middle;

}.main_p{
    font-size: monospace;
    text-align: center;
    margin: 1em auto 2em auto;
    width: 80%;
    float: middle;
}.cat_gif{
    float: middle;
    margin: 0 auto;
    width: 80%;
    border: black solid; 

}.cat_pic{
    width: 100%; 
    border-bottom: solid black;
    margin: 0;

}.gif_p{
    font-size: monospace; 
    text-align: center; 
    padding: 0.5em 1em; 
    float: middle;
    background-color: #fafafa;
}

@media only screen and (min-width: 600px){
    .cat_gif{
        width: 30em;
    }
}

@media (prefers-color-scheme: dark){

    body{
        background-color: #14181B;
    }

    h1{
        color: white;
    }h2{
        color: white;
    }h3{
        color: white;
    }p{
        color: gray;
    }

    .cat_gif{
        border-color: #343C3F; 
    
    }.cat_pic{
        border-color: #343C3F;

    }.gif_p{
        background-color: #141414;
    }
}