/**
 * ! READ ME BEFORE USE !
 *
 * The point of this is to show things in a 2x3 or 3x2 grid. 
 * The conent will contain a title, a description, and an image.
 *
 * The content within a showcase-grid must follow it's structure or be hidden by default.
 * Please look at the following structure:
 *
 * <div class="showcase-grid">
 *   <div class="showcase-grid-item">
 *     <div class="showcase-grid-item-image">
 *       <img src="https://some.website.com/path/to/image.with.extention" alt="Image's description">
 *     </div>
 *     <h3 class="showcase-grid-item-title">Title</h3>
 *     <p class="showcase-grid-item-description">Description</p>
 *   </div>
 * </div>
 *
 * Every other element within the showcase-grid will be hidden by default that does not have one of these classes.
 * Lastly the description is hidden if the container becomes too small.
 *
 * ? What is an example of a showcase-grid ?
 *   - as of 01-dec-2023, the my skills section on the portfolio page is a showcase grid.
 * ? What is a good use for a showcase-grid ?
 *   - when you want to show of 6 things that you don't want to, or can't go into depth with.
 */
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: red;
    // border
    // width 
        width: var(--content-width);
        max-width: var(--max-content-width);
    // height
        height: 100vh;
    // padding
    // margin
        margin-left: auto;
        margin-right: auto;
    // other
        display: grid;
        grid-template-columns: auto auto auto;
}

// hides all the content within this container by default
div.showcase-grid > * {display: none;}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid item's ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid > div.showcase-grid-item {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: green;
    // border
        border: solid 1px black;
    // width 
    // height
    // padding
    // margin
    // other
        display: block;
}

// hides all the content within this container by default
div.showcase-grid > div.showcase-grid-item > * {display: none;} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid Image-Containers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid > div.showcase-grid-item > div.showcase-grid-item-image-container {
    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: yellow;
    // border
    // width 
    // height
    // padding
    // margin
    // other
        display: block;
}

div.showcase-grid > div.showcase-grid-item > div.showcase-grid-item-image-container > * {
    display: none;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid Images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid > div.showcase-grid-item > div.showcase-grid-item-image-container
            > img.showcase-grid-item-image {

    // font weight, alignment, size, family, color
    // Color
    // Background Color, and image
        background-color: cyan;
    // border
    // width 
        width: 10em;
    // height
    // padding
    // margin
    // other
        display: block;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid Titles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid > div.showcase-grid-item > h3.showcase-grid-item-title {
    //     font weight, alignment, size, family, color
        font-size: 19.2px;
    //     Color
    //     Background Color, and image
        background-color: blue;
    //     border
    //     width 
    //     height
    //     padding
    //     margin
        margin-top: 1em;
    //     other
        display: block;
}

// hides the line below the title
div.showcase-grid > div.showcase-grid-item > h3.showcase-grid-item-title::after {display: none;}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Showcase-Grid Description ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.showcase-grid > div.showcase-grid-item > p.showcase-grid-item-description {
    //     font weight, alignment, size, family, color
    //     Color
    //     Background Color, and image
        background-color: purple;
    //     border
    //     width 
    //     height
    //     padding
    //     margin
    //     other
        margin-top: ;
    //     other
        display: block;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DEFAULT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

