{
    "replaceInnerHTMLText": [
        {
            "id": "some-extreemly-unique-id-as-a-non-unique-id-WILL-lead-to-problems",
            "text": "the text that will be incerted into this element"
        }
    ]
}