.card__border {
  border-radius: var(--bor_rad);
  box-shadow: 0 0 2em -1em black;
  background-color: var(--back_ground-color3);
  width: 300px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  position: relative;
}
.card__border .card {
  background-color: var(--back_ground-color);
  border-radius: var(--bor_rad);
  border: none;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
}
.card__border .card .card__picture_box__uneven {
  background-color: var(--back_ground-color2);
  border-radius: var(--bor_rad) var(--bor_rad) 0 0;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 299.5px;
  right: 0px;
}
.card__border .card .card__picture_box__uneven .card__picture_uneven {
  border-radius: var(--bor_rad) var(--bor_rad) 0 0;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.card__border .card .card__picture_box__even {
  background-color: var(--back_ground-color2);
  border-radius: var(--bor_rad) var(--bor_rad) 0 0;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 299.5px;
  right: 0px;
}
.card__border .card .card__picture_box__even .card__picture_even {
  border-radius: var(--bor_rad) var(--bor_rad) 0 0;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.card__border .card .card__text_box_uneven {
  border-radius: 0 0 var(--bor_rad) var(--bor_rad);
  border: none;
  position: absolute;
  top: 298.5px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.card__border .card .card__text_box_even {
  border-radius: 0 0 var(--bor_rad) var(--bor_rad);
  border: none;
  position: absolute;
  top: 298.5px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.card__border .card .card__text_box_container {
  border-radius: var(--bor_rad);
  border: none;
  padding-top: 1.5em;
  width: 100%;
  height: calc(100% - 1.5em);
  position: relative;
}
.card__border .card .card__text_box_container .card__h3 {
  margin-top: 0em;
  border: none;
}
.card__border .card .card__text_box_container .card__line {
  margin-bottom: 0em;
  border: none;
}
.card__border .card .card__text_box_container .card__text {
  padding: 1em 2em;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  text-overflow: ellipsis;
}
.card__border .card .card__text_box_container .card__button_container {
  border: none;
  border-radius: var(--bor_rad);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}
.card__border .card .card__text_box_container .card__button_container .card__see_more_button_link {
  border: none;
  border-radius: var(--bor_rad);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
.card__border .card .card__text_box_container .card__button_container .card__see_more_button_link .card__see_more_button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 15em;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  align-self: center;
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  .card__border {
    width: 650px;
    height: 325px;
  }
  .card__border .card {
    /*
    * from the text boxes there are two variants:
    *  - even 
    *  - uneven
    */
  }
  .card__border .card .card__picture_box__uneven { /* uneven */
    border-radius: var(--bor_rad) 0 0 var(--bor_rad);
    background-color: var(--back_ground-color2);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 324.5px;
  }
  .card__border .card .card__picture_box__uneven .card__picture_uneven {
    border-radius: var(--bor_rad) 0 0 var(--bor_rad);
  }
  .card__border .card .card__picture_box__even { /* even */
    border-radius: 0 var(--bor_rad) var(--bor_rad) 0;
    background-color: var(--back_ground-color2);
    top: 0px;
    left: 324.5px;
    bottom: 0px;
    right: 0px;
  }
  .card__border .card .card__picture_box__even .card__picture_even {
    border-radius: 0 var(--bor_rad) var(--bor_rad) 0;
  }
  .card__border .card .card__text_box_uneven { /* uneven */
    top: 0px;
    left: 323.5px;
    bottom: 0px;
    right: 0px;
  }
  .card__border .card .card__text_box_even { /* even */
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 323.5px;
  }
  .card__border .card .card__text_box_container .card__button_container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}
@media (prefers-color-scheme: dark) {
  .card__border {
    background-color: var(--back_ground-color3_dark);
    box-shadow: 0 0 2em -1em var(--back_ground-color3);
  }
  .card__border .card {
    background-color: #111517;
  }
  .card__border .card .card__picture_box__uneven { /* uneven */
    background-color: #1D2226;
  }
  .card__border .card .card__picture_box__even { /* even */
    background-color: #1D2226;
  }
}/*# sourceMappingURL=content.css.map */