.card__border {
    border-radius: var(--bor_rad);
    box-shadow: 0 0 2em -1em black;
    background-color: var(--back_ground-color3);

    $CARD_WIDTH: 300px;
    $CARD_HEIGHT: 600px;
    width: $CARD_WIDTH;
    height: $CARD_HEIGHT;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;

    position: relative;

    .card {

        background-color: var(--back_ground-color);
        border-radius: var(--bor_rad);
        border: none;

        margin-right: auto;
        margin-left: auto;

        position: absolute;
        
        top: $CARD_BORDER_THICKNESS; // give enough room for the border
        left: $CARD_BORDER_THICKNESS;
        bottom: $CARD_BORDER_THICKNESS;
        right: $CARD_BORDER_THICKNESS;

        .card__picture_box__uneven {
            background-color: var(--back_ground-color2);
            border-radius: var(--bor_rad) var(--bor_rad) 0 0;
            border: none;

            position: absolute;
            top: 0px;
            left: 0px;
            bottom: calc(($CARD_HEIGHT - $CARD_BORDER_THICKNESS) / 2);
            right: 0px;
        
            .card__picture_uneven{
                border-radius: var(--bor_rad) var(--bor_rad) 0 0;
                border: none;
              
                object-fit: contain;
              
                height: 100%;
                width: 100%;
            }

        }.card__picture_box__even {
            background-color: var(--back_ground-color2);
            border-radius: var(--bor_rad) var(--bor_rad) 0 0;
            border: none;
            
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: calc(($CARD_HEIGHT - $CARD_BORDER_THICKNESS) / 2);
            right: 0px;

            .card__picture_even {
                border-radius: var(--bor_rad) var(--bor_rad) 0 0;
                border: none;
              
                object-fit: contain;
              
                height: 100%;
                width: 100%;
            }
        }

        .card__text_box_uneven {
            border-radius: 0 0 var(--bor_rad) var(--bor_rad);
            border: none;

            position: absolute;
            top: calc(($CARD_HEIGHT - (3 * $CARD_BORDER_THICKNESS)) / 2);
            left: 0px;
            bottom: 0px;
            right: 0px;

        } .card__text_box_even {
            border-radius: 0 0 var(--bor_rad) var(--bor_rad);
            border: none;

            position: absolute;

            top: calc(($CARD_HEIGHT - (3 * $CARD_BORDER_THICKNESS)) / 2);
            left: 0px;
            bottom: 0px;
            right: 0px;
        }

        .card__text_box_container {
            $padding_between_box_and_title: 1.5em;
            border-radius: var(--bor_rad);
            border: none;

            padding-top: $padding_between_box_and_title;
            width: 100%;
            height: calc(100% - $padding_between_box_and_title);

            position: relative;

            .card__h3 {
                margin-top: 0em; // @Override: default of ~2em
                border: none;
                
            } .card__line {
                margin-bottom: 0em;
                border: none;

            } .card__text {
                padding: 1em 2em;
                width: fit-content;
                border: none;  
                text-overflow: ellipsis;
            }

            .card__button_container {

                $CARD_BUTTON_SPACING: 2em;

                border: none;
                border-radius: var(--bor_rad);
                
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                margin-top: $CARD_BUTTON_SPACING;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: $CARD_BUTTON_SPACING;

                display: flex;
                align-items: center;

                .card__see_more_button_link {
                    border: none;
                    border-radius: var(--bor_rad);

                    width: auto;
                    height: auto;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-top: auto;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: auto;

                    .card__see_more_button {

                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        width: 15em;
                        margin-top: auto;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: auto;
                        align-self: center;

                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 750px) { // if screen is BIGGER then 750px

    .card__border {

        $CARD_WIDTH: 650px;
        $CARD_HEIGHT: 325px;
        width: $CARD_WIDTH;
        height: $CARD_HEIGHT;

        .card {  

            .card__picture_box__uneven{ /* uneven */
                border-radius: var(--bor_rad) 0 0 var(--bor_rad);
                background-color: var(--back_ground-color2);

                top: 0px;
                left: 0px;
                bottom: 0px;
                right: calc(($CARD_WIDTH - $CARD_BORDER_THICKNESS) / 2);

                .card__picture_uneven{
                    border-radius: var(--bor_rad) 0 0 var(--bor_rad);
                }

            }.card__picture_box__even{/* even */
                border-radius: 0 var(--bor_rad) var(--bor_rad) 0;
                background-color: var(--back_ground-color2);

                top: 0px;
                left: calc(($CARD_WIDTH - $CARD_BORDER_THICKNESS) / 2);
                bottom: 0px;
                right: 0px;

                .card__picture_even{
                    border-radius: 0 var(--bor_rad) var(--bor_rad) 0;
                }
            }

            /*
            * from the text boxes there are two variants:
            *  - even 
            *  - uneven
            */
            .card__text_box_uneven{ /* uneven */
                top: 0px;
                left: calc(($CARD_WIDTH - (3 * $CARD_BORDER_THICKNESS)) / 2);
                bottom: 0px;
                right: 0px;

            }.card__text_box_even{ /* even */
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: calc(($CARD_WIDTH - (3 * $CARD_BORDER_THICKNESS)) / 2);
            }

            .card__text_box_container {

                .card__button_container {
                    $CARD_BUTTON_SPACING: 2.5em;

                    margin-top: $CARD_BUTTON_SPACING;
                    margin-bottom: $CARD_BUTTON_SPACING;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark){

    .card__border{
        background-color: var(--back_ground-color3_dark);
        box-shadow: 0 0 2em -1em var(--back_ground-color3);

        .card{
            background-color: #111517;

            .card__picture_box__uneven{ /* uneven */
                background-color: #1D2226;
    
            }.card__picture_box__even{ /* even */
                background-color: #1D2226;
            }
        }
    }
}