#top-section {
    background-image: url(/assets/images/placeholder/blue_and_yellow_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;

} 

#top-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;  
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top-h1 {
    margin-top: 0;
} #top-h1::after {
    content: none;
}

#top-button {
    margin-top: calc(var(--default-top-margin) * 2);
    margin-bottom: calc(var(--default-top-margin) * 3);
}

//~~~~~~~~~~~~~~ Changes based on Dark or Light mode ~~~~~~~~~~~~~~//
@media (prefers-color-scheme: light) {
    #top-container {
        background-image: url(/assets/images/baners/landing_page_top_no_image.svg);
    }
}

@media (prefers-color-scheme: dark){
    #top-container {
        background-image: url(/assets/images/baners/landing_page_top_no_image_dark.svg);
    }
}