//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#top-section {
    background-image: url(/assets/images/placeholder/blue_and_yellow_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;

} 

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#top-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;  
    background-image: url(/assets/images/baners/landing_page_top_no_image.svg);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (prefers-color-scheme: dark){
    #top-container {
        background-image: url(/assets/images/baners/landing_page_top_no_image_dark.svg);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ H2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#top-h1 {
    margin-top: 0;
    color: var(--light-mode-layer-0-background-color);
} #top-h1::after {
    content: none;
}
@media (prefers-color-scheme: dark) {
    #bottom-h2 {
        color: var(--dark-mode-layer-0-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Paragraphs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#top-p {
    color: var(--light-mode-layer-0-background-color);
}
@media (prefers-color-scheme: dark) {
    #top-p {
        color: var(--dark-mode-layer-0-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
#top-button {
    margin-top: calc(var(--default-top-margin) * 2);
    margin-bottom: calc(var(--default-top-margin) * 3);
    box-shadow: none;
    color: var(--light-mode-layer-0-background-color);
    border-color: var(--light-mode-layer-0-background-color);
    border: solid var(--border-width) !important;
}
@media (prefers-color-scheme: dark) {
    #bottom-button {
        color: var(--dark-mode-layer-0-background-color);
        border-color: var(--dark-mode-layer-0-background-color);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Changes based on Display Width ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
// ...
