#top-section {
    background-image: url(/assets/images/placeholder/blue_and_yellow_blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    display: flex;
    align-items: center;
} 

#top-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;  
    height: 100%;
}

#top-h1 {
    margin-top: 0;
    background-color: darkred;
} #top-h1::after {
    content: none;
}

#top-p {
    background-color: darkblue;
}

#bottom-button {
    // position: absolute;
    // top: 30vh;
    // margin: 0;
    // left: 0;
    // right: 0;
}

//~~~~~~~~~~~~~~ Changes based on Dark or Light mode ~~~~~~~~~~~~~~//
@media (prefers-color-scheme: light) {
    #top-container {
        background-image: url(/assets/images/baners/landing_page_top_no_image.svg);
    }
}

@media (prefers-color-scheme: dark){
    #top-container {
        background-image: url(/assets/images/baners/landing_page_top_no_image_dark.svg);
    }
}