.cards {

    background-color: purple;

    .card-outer {
        // font weigth, alignment, size, family, color
        // Color
        // Background Color, and image
            background-color: green !important;
        // border
        // width 
            max-width: 60EM;
        // heigth
        // padding
        // margin
            margin-left: auto;
            margin-right: auto;
        // other
            // aspect-ratio: 2/1;

        

        .card-img-container {
            // font weigth, alignment, size, family, color
            // Color
            // Background Color, and image
                background-color: blue !important;
            // border
            // width 
                width: 40%;
            // heigth
                height: 100%;
            // padding
            // margin
            // other
                display: inline-block;
                // aspect-ratio: 1/1;
                text-align: left;

            .card-img {
                
            }
        }
    
        .card-text-container {
            // font weigth, alignment, size, family, color
            // Color
            // Background Color, and image
                background-color: red !important;
            // border
            // width 
                width: 40%;
            // heigth
                height: 100%;
            // padding
            // margin
            // other
                display: inline-block;
                // aspect-ratio: 1/1;
                text-align: right;

            .card-h2 {
                position: inherit
            }

            .card-text {
                aspect-ratio: 1/1;
                position: inherit
            }
        }
    }    
}
