@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    font-family: monospace;

    /* if one of these has a transition it must be there */
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2 ease-in-out;
    transition: box-shadow 0.5 ease-in-out;

}

body {
    background-color: var(--light-mode-background-layer-0-color);
    margin: 0;
    padding: 0;

    * {
        // Text related 
        color: var(--light-mode-text-color);
        font-size: var(--default-text-size);
        font-family: var(--text-font);
        text-align: var(--text-alignments);
        // width related
        max-width: var(--max-content-width);
        width: var(--content-width);
        // margin related
        margin-left: var(--default-left-margin);    
        margin-right: var(--default-right-margin);
    } main {
        overflow: hidden;
        min-width: var(--min-main-width);
        width: 100%;
        max-width: var(--max-main-width);
        min-height: 100vh;
        height: 100%;
        margin: 0 auto;
        background-color: var(--light-mode-background-layer-1-color);
    } h1 {
        font-size: var(--h1-size);
        font-family: var(--title-font);
        margin-top: var(--default-top-margin);
    } h2 {
        font-size: var(--h2-size);
        font-family: var(--title-font);
        margin-top: calc(1.5 * var(--default-top-margin));
    } h3 {
        font-size: var(--h3-size);
        font-family: var(--title-font);
        margin-top: calc(2 * var(--default-top-margin));
    } a {
        color: var(--accent-color);
    } li {
        list-style-type: var(--list-styles);
    }  button {
        font-weight: bold;
        text-transform: uppercase;
        // dimentions
        height: calc(var(--button-height) - var(--border-width));
        width: calc(var(--button-width) - var(--border-width));
    } iframe {
        padding: 0;
        border: 0;
        background-color: darkcyan;
        width: 100%;
    } iframe[seamless] {
        border: none;
    }

    -ms-overflow-style: none;  /* hides the scroll bar in Internet Explorer 10+ */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: none;  /* hides the scroll bar in Firefox */
} body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

//~~~ Self Made classes ~~~//
.light-mode {
    display: block;
} .dark-mode {
    display: none;
} .hidden {
    display: none;
} .not-scrollable {
    overflow: hidden;
} .rounded {
    border-radius: var(--border-radius);
} .bold {
    font-weight: bold;
} .horisontally-centered {
    margin-left: auto;
    margin-right: auto;
} .bordered {
    border-width: var(--border-width);
    border-color: var(--light-mode-border-color);
} .shadow {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--light-mode-shadow);
} .box {
    background-color: var(--light-mode-background-layer-2-color);
}

//~~~~~~~~~~~~~~~~ Dark Mode Changes ~~~~~~~~~~~~~~~~//
@media (prefers-color-scheme: dark){

    body {
        background-color: var(--dark-mode-background-layer-0-color);

        * {
            color: var(--dark-mode-text-color);
        } main {
            background-color: var(--dark-mode-background-layer-1-color);
        }

        .light-mode {
            display: none;
        } .dark-mode {
            display: block;
        }

        .bordered {
            border-color: var(--dark-mode-border-color);
        } .shadow {
            box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--dark-mode-shadow);
        } .box {
            background-color: var(--dark-mode-background-layer-2-color);
        }
    }
}
